.bg-pickup-page {
  height: 100%;
  background-image: url("/assets/pickup-background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-modal-pickup {
  background-image: url("/assets/qr-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
